<!DOCTYPE html>
{% load static%}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la tienda</title>
    <!-- Bootstrap-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Styles -->
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center"><h1 class="display-1">TIENDA</h1></div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                <div class="col-12">
                    <div class="row">
                        productos
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>